# Logs and venv
logs/
venv/

# text documents containining sensitive info
switches.txt
interface_template.txt
snmp_template.txt

# Software
cat9k*

# Backups
*backups

# Python bytecode cache
__pycache__/